# Filecoin Crawler Configuration
CRAWLER_LOG_LEVEL=info
CRAWLER_PORT=1347
CRAWLER_METRICS_PORT=9082
CRAWLER_PEERS_BACKUP=30m
CRAWLER_PERSIST_CONNEVENTS=false

# Note: Filecoin uses port 1347 for libp2p P2P connections
