# do not include the binary
**/build/

# do not include unnecesary files such as:
# log .txt s
**/*.txt

# docker-compose volumes
app-data/*_db

# configurations
*.env

# IDE configuration
.idea

exports/
